*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #fff;
  color: #111827;
}

#root {
  height: 100vh;
  width: 100vw;
}

/* Make sure Leaflet popup text is readable */
.leaflet-popup-content strong {
  font-size: 0.9rem;
}
